<div class="view-album">
    <div class="album" onclick="openModal(3,12)">
        <div class="album-photo">
            <img src="/assets/img/album12/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>12</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    12원
                </span>
                <span class="price-for-member">
                    회원가: 12원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            3
        </span>
    </div>
    <div class="album" onclick="openModal(2,10)">
        <div class="album-photo">
            <img src="/assets/img/album10/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>10</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    1,010원
                </span>
                <span class="price-for-member">
                    회원가: 10원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            2
        </span>
    </div>
    <div class="album" onclick="openModal(2,9)">
        <div class="album-photo">
            <img src="/assets/img/album9/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>9</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    9원
                </span>
                <span class="price-for-member">
                    회원가: 9원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            2
        </span>
    </div>
    <div class="album" onclick="openModal(1,8)">
        <div class="album-photo">
            <img src="/assets/img/album8/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>8</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    8원
                </span>
                <span class="price-for-member">
                    회원가: 8원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,7)">
        <div class="album-photo">
            <img src="/assets/img/album7/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>7</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    7원
                </span>
                <span class="price-for-member">
                    회원가: 7원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,6)">
        <div class="album-photo">
            <img src="/assets/img/album6/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>6</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    6원
                </span>
                <span class="price-for-member">
                    회원가: 6원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,5)">
        <div class="album-photo">
            <img src="/assets/img/album5/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>5</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    5원
                </span>
                <span class="price-for-member">
                    회원가: 5원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,4)">
        <div class="album-photo">
            <img src="/assets/img/album4/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>4</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    4원
                </span>
                <span class="price-for-member">
                    회원가: 4원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,3)">
        <div class="album-photo">
            <img src="/assets/img/album3/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>3</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    3원
                </span>
                <span class="price-for-member">
                    회원가: 3원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,2)">
        <div class="album-photo">
            <img src="/assets/img/album2/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>2</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    2원
                </span>
                <span class="price-for-member">
                    회원가: 2원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
    <div class="album" onclick="openModal(1,1)">
        <div class="album-photo">
            <img src="/assets/img/album1/1.jpg" alt="nail-photo">
        </div>
        <div class="album-info">
            <p>1</p>
            <p class="time">1시간 소요</p>
            <p>
                <span class="price">
                    1원
                </span>
                <span class="price-for-member">
                    회원가: 1원
                </span>
            </p>
        </div>
        <span class="img-cnt">
            1
        </span>
    </div>
</div>