<div class="view-monthly">
    <ul class="month-list">
        <li>
            <p class="month">
                2021년 5월
            </p>
            <ul class="img-list">
                <li><img src="../assets/img/album10/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album12/2.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album3/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album9/2.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album5/1.jpg" alt="nail-photo"></li>
            </ul>
        </li>
        <li>
            <p class="month">
                2021년 4월
            </p>
            <ul class="img-list">
                <li><img src="../assets/img/album2/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album5/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album3/1.jpg" alt="nail-photo"></li>
            </ul>
        </li>
        <li>
            <p class="month">
                2021년 3월
            </p>
            <ul class="img-list">
                <li><img src="../assets/img/album12/3.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album12/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album6/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album7/1.jpg" alt="nail-photo"></li>
            </ul>
        </li>
        <li>
            <p class="month">
                2021년 2월
            </p>
            <ul class="img-list">
                <li><img src="../assets/img/album9/2.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album1/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album10/2.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album2/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album6/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album8/1.jpg" alt="nail-photo"></li>
                <li><img src="../assets/img/album12/2.jpg" alt="nail-photo"></li>
            </ul>
        </li>
    </ul>
    <p>
        ※ 이달의아트로 등록하면 매출등록 시, 시술선택에 표시됩니다.
    </p>
</div>