<div class="shop-profile">
    <a href="../index.html" class="shop-name">
        헤렌테스트
    </a>
    <div class="manager">
        <strong>
            점주
        </strong>
        테스트
    </div>
    <div class="staff">
        <strong>
            직원
        </strong>
        <span>
            0
            <i class="fas fa-angle-right"></i>
        </span>
        <ul class="staff-list">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<a href="#" class="shop-album">
    우리샵 앨범
    <i class="far fa-image"></i>
</a>
<nav>
    <ul>
        <li class="list-header list-active">
            예약
        </li>
        <li>
            예약 캘린더
        </li>
        <li class="list-header">
            매출관리
        </li>
        <li>
            매출 등록/목록
        </li>
        <li>
            우리샵 매출
        </li>
        <li>
            직원별 매출
        </li>
        <li>
            고객별 매출
        </li>
        <li class="list-header">
            고객관리
        </li>
        <li>
            고객차트
        </li>
        <li>
            회원권/포인트 관리
        </li>
        <li class="list-header">
            제품관리
        </li>
        <li class="list-header">
            우리샵 관리
        </li>
        <li>
            시술메뉴
        </li>
        <li>
            포인트/행사
        </li>
        <li>
            직원관리
        </li>
        <li>
            화면 잠금 관리
        </li>
        <li class="list-header">
            문자
        </li>
        <li>
            문자 발송
        </li>
        <li>
            발송 내역
        </li>
        <li>
            문자충전/내역
        </li>
        <li>
            자동문자 설정
        </li>
        <li class="list-header">
            부가서비스
        </li>
        <li>
            네이버예약
        </li>
        <li class="list-header">
            고객센터
        </li>
        <li>
            사용법 안내
        </li>
        <li>
            공지사항
        </li>
        <li>
            이벤트 게시판
        </li>
        <li>
            문의하기
        </li>
    </ul>
</nav>